$primary-color: #161A30;
$white-color: #ECF4D6;
$secondary-color: #2D9596;

$screen-sm-min: 0;
$screen-md-min: 576px;
$screen-lg-min: 768px;
$screen-xl-min: 1024px;
$screen-xxl-min: 1361px;

$screen-sm-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 1023px;
$screen-xl-max: 1360px;