@import '../../styles/variables';
@import '../../styles/mixins';
@import "@fontsource/montserrat";

nav {
  width: 100%;
  @include flex(center, space-between, 0, row, nowrap);
  padding: 10px 60px;
  background-color: #fff;

  @include sm {
    padding: 10px 20px;
  }

  @include md {
    padding: 10px 30px;
  }

  @include lg {
    padding: 10px 40px;
  }

  .logo {
    color: $primary-color;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .dot {
    color: $secondary-color;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .underscore {
    color: $white-color;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .nav-links {
    
    ul {
      @include flex(center, center, 30px, row, nowrap);

      @include sm {
        display: none;
      }
      @include md {
        display: none;
      }
      @include lg {
        display: none;
      }
    }

    .menu-item {
      color: var(--primary-color, #161A30);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &.active {
        font-weight: 700;
      }
    }
  }

}

#navbar-default {

  display: none;

  @include lg {
    display: block;
  }

  @include md {
    display: block;
  }

  @include sm {
    display: block;
  }


  ul {
    @include flex(center, center, 10px, column, nowrap)
  }

  .menu-item {
    color: var(--primary-color, #161A30);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.active {
      font-weight: 700;
    }
  }

  .hide{
    display: none;
  }
}