@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #161A30;
  --white-color: #ECF4D6;
  --secondary-color: #2D9596;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  background: #fff;
}

.hero-bg{
  background: linear-gradient(180deg, #070810, #161a30);
}

.wrapper{
  max-width: 1440px;
}

img {
  transition: all ease 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}